body {
    background-color: #C14040;
    font-family: Bree Serif, sans-serif;
    font-size: 30px;
    color: #EFE3E3;
}

.navigationBar {
    background-color: #EFE3E3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em;
    margin: 0.5em;
    border-radius: 0.3em;
    color: #C14040;
}

.pokedexList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.pokemonCard {
    background-color: #982C2C;
    border-radius: 0.4em;
    margin: 0.4em;
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pokemonImage {
    object-fit: contain;
    width: 90%;
    height: 70%;
    margin: 0.2em;
}

.pokemonName {
    object-fit: contain;
    margin: 0.2em;    
}

/* CSS pour le détails des informations sur les pokémons */

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.title{
    align-self: center;    
    font-weight: bold;
}

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;        
}

.caracteristiques {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #AB3838;
    width: 40%;
    margin: 0.2em;
    padding: 0.3em;
}

.name{
     font-weight: bold;    
}

.types {
    display: flex;
    flex-direction: row;   
    
}

.type{
    background-color: #45cc39;
    border-radius: 0.2em; 
    margin: 0.1em;
    padding: 0.2em;
}

.statistiques{    
    width: 100%;
}

.titleTable{
    text-align: left;
}

.statBar{        
    background-color: #632B2B;    
    border-radius: 0.2em;
    padding: 0.1em;
    width: 50%;
}

.return {
    align-self: center;    
}

